/* Cores para cada tipo de navio */
.cell.porta-avioes {
    background-color: #ff0000;  /* Vermelho */
}

.cell.cruzador {
    background-color: #ff8c00;  /* Laranja */
}

.cell.contratorpedeiro {
    background-color: #008000;  /* Verde */
}

.cell.rebocador {
    background-color: #0000ff;  /* Azul */
}

/* Cores de acerto e erro */
.cell.hit {
    background-color: red;
}

.cell.miss {
    background-color: lightgray;
}
